
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Matenimiento</h1>
    <p class="lead">Este modulo del Proyecto consiste en ingresar los datos de los Empleados, Depatamentos y los Cargos de los mismos. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p>Aqui ingresaran los datos de todos los Empleados</p>
        <p><a class="btn btn-default" href="../Empleados/Create">Formulario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos</h2>
        <p>Aqui ingresaran los datos de todos los Empleados</p>
        <p><a class="btn btn-default" href="../Departamentos/Create">Formulario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cargos</h2>
        <p>Aqui ingresaran los datos de todos los Empleados</p>
        <p><a class="btn btn-default" href="../Cargos/Create">Formulario &raquo;</a></p>
    </div>
</div>