
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Informes</h1>
    <p class="lead">
        Este modulo se encagara de generar diferentes tipos informes para presentarlos en listas.
    </p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Nominas</h2>
        <p>
            Con este informe se busca visualizar todas las nominas de un anio en especifico
            y/o visualezar u correpondiente a un mes en especifico.
        </p>
        <p><a class="btn btn-default" href="../Nominas/Listado">Listado &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleados Activos</h2>
        <p>
            El objetivo es visualizar todos los empleados que se encuentra activos en la empresa,
            y de igual manera podra buscarla mediantes a algunos filtros.
        </p>
        <p><a class="btn btn-default" href="../Empleados/EActivos">Listado &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Empleados Incactivos</h2>
        <p>Visualizar todos los empleados que ha salido de la empresa.</p>
        <p><a class="btn btn-default" href="../Empleados/EInactivos">Listado &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Departamentos</h2>
        <p>Listado de todos los Depatamentos Creados</p>
        <p><a class="btn btn-default" href="../Departamentos/Listado">Listado &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Cargos</h2>
        <p>Listado de todos los Cargos.</p>
        <p><a class="btn btn-default" href="../Cargos/Listado">Listado &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Entrada de Empleados por mes</h2>
        <p>Visualizar las entradas(ingresados) en un mes determinado por el usuario.</p>
        <p><a class="btn btn-default" href="../Empleados/EbyMoth">Listado &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Salida de Empleado por mes</h2>
        <p>
            Visualizar las salidas en un mes determinado por el usuario.
        </p>
        <p><a class="btn btn-default" href="../Salidas/Listado">Listado &raquo;</a></p>
    </div>
</div>
