
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Procesos</h1>
    <p class="lead">
        Este modulo se encargar de configurar algunos procesos o acciones.
        Vale decir que estos procesos o acciones se registraran en las siguientes categorias mencionadas.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Calculo de Nomina</h2>
        <p>
            Calcular el monto total de la nomina, sumando el salario de los empleados activos y presentando el total,
            para que sea visto y valido por la persona encargada.
        </p>
        <p><a class="btn btn-default" href="../Nominas/Create">Nominas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Salida de Empleados</h2>
        <p>Inactivar a determinado de empleados y almacenar la informacion.</p>
        <p><a class="btn btn-default" href="../Salidas/Create">Salidas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vacaciones</h2>
        <p>Registrar las Vacaciones que tome un empleado.</p>
        <p><a class="btn btn-default" href="../Vacaciones/Create">Vacaciones &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Permisos</h2>
        <p>Registrar las Permisos que tome un empleado.</p>
        <p><a class="btn btn-default" href="../Permisos/Create">Permisos &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Licencias</h2>
        <p>Registrar las Licencias que tome un empleado.</p>
        <p><a class="btn btn-default" href="../Licencias/Create">Licencias &raquo;</a></p>
    </div>

</div>
